.nuget-badge {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #202020;
    border: 4px solid silver;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #6e6e6e;
    color: #e2e2e2;
    display: block;
    font: 1.5em 'andale mono', 'lucida console', monospace;
    line-height: 1.5em;
    overflow: auto;
    padding: 15px;
}

body > .container {
    margin-top: 20px;
}

.buttons-social {
    float: right;
}

.buttons-social li {
    display:inline;
    margin-left: 15px;
}

.buttons-social li a {
    margin-top: 8px;
}

img.nuget-btn-img {
    height: 34px;
}
