<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
        <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpecFlowTests.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />
        </sectionGroup>
    </configSections>


    <specFlow>
        <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
        <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
        <unitTestProvider name="xUnit" />
    </specFlow>

    <system.serviceModel>
        <services>
            <service name="Nelibur.ServiceModel.Services.JsonServicePerCall">
                <endpoint binding="webHttpBinding"
                          contract="Nelibur.ServiceModel.Contracts.IJsonService" />
            </service>
            <service name="Nelibur.ServiceModel.Services.SoapServicePerCall">
                <endpoint address="http://localhost:9011/service" binding="basicHttpBinding"
                          bindingConfiguration="ServiceBinding"
                          contract="Nelibur.ServiceModel.Contracts.ISoapService" />
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceBinding">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9011/service"
                      binding="basicHttpBinding"
                      contract="Nelibur.ServiceModel.Contracts.ISoapService"
                      name="NeliburSoapService" />
        </client>
    </system.serviceModel>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <SpecFlowTests.Properties.Settings>
            <setting name="JsonServiceAddress" serializeAs="String">
                <value>http://localhost:9010/webhost</value>
            </setting>
        </SpecFlowTests.Properties.Settings>
    </applicationSettings>
</configuration>